<%= @player1_name %> VS <%= @player2_name %>

<table style="100 %" >
	<tr>
		<td><img src="http://downloadicons.net/sites/default/files/super-mario-icons-34502.png" alt="Player 1 Icon">
		</td>
		<td><img src="https://pbs.twimg.com/profile_images/378800000126010833/ccaf376e5be885a124f13c5cdb1907ca.png" alt="Player 2 Icon">
		</td>
	</tr>
	<tr>
		<td><%= @player1_name %>'s HP : <%= @player1_hp %></td>
		<td><%= @player2_name %>'s HP : <%= @player2_hp %></td>
	</tr>
	<tr>
		<td>
		<form method="get" action="/attack">
  		<button type="submit">Attack <%= @player2_name %></button>
		</form>
		</td>
		<td>
		<form method="get" action="/attack">
  		<button type="submit">Attack <%= @player1_name %></button>
		</form>
		</td>
	</tr>
	<% if @player1_attack %>
	<tr>
		<td><%= @player1_name %> succesfully attacks <%= @player2_name %>
		</td>
	</tr>
	<% end %>
</table>


